<div id="<%= dom_id borrowing %>">
  <p>
    <strong>User:</strong>
    <%= borrowing.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= borrowing.book_id %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= borrowing.due_date %>
  </p>

</div>
